* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "RobotoCond";
  src: url("assets/RobotoCond.ttf");
}

.novaletra {
  font-family: "RobotoCond";
  font-size: 18px;
  padding: 5px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}

h1{
  font-size: 20px;
  margin-bottom: 20px;
}

p{
  padding: 2px;
  margin-bottom: 20px;
}

/* nav */
.banner{
  margin-top: 20px;
  width: 100%;
  height: 300px;
}
.conteiner{
  margin-top: 50px;
  margin-bottom: 10px;
}

.link{
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

.line{
  background-color: antiquewhite;
  width: 100%;
  height: 3px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* conteiner */

.conteiner2{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
}

img{
border-radius: 10px;
}

.n3 {
  float: right;
  width: 500px;
  height: 350px;
  margin-left: 20px;
}

.n4 {
  float: left;
  width: 500px;
  height: 350px;
  margin-right: 20px;
}

.item1{
  width: 50%;
}
.item2{
  width: 50%;
}

.formulario{
  background-color: rgba(255, 228, 196, 0.505);
  border-radius: 10px;
  width: 100%;
  padding: 10px;

}
.form-group {
  padding-bottom: 20px;
}

input{
  padding: 6px;
  width: 300px;
}

footer{
  margin-top: 20px;
}
